/* GENERAL */

* 
{

box-sizing: border-box;
margin: 0;
padding: 0;
outline: 0;
border: 0;
border-spacing: 0;

}

body 
{
    font-family: "Lato", Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
   

    @media all and (max-width: 767px) {
    margin: 0;
    }


    
}

ol, ul
{
    list-style: none;
}

/* HEADER */


.header_flex
{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.lpp_logo
{
    margin-top: 40px;
    background: #fff;
    height: 93.3px;
    width: 268px;
    margin-bottom: 15px;

// @media all and (max-width: 425px) {
//     margin-left: 30%;
// }

}

// SECTION RECHERCHE

.search-wrapper {
    position: relative;
}

.search-button {
    cursor: pointer;
}

.search-icon {
    position: absolute;
    font-size: 35px;
    top: 20px;
    right: 20px;
    z-index: 3;
    color: black;
    border: 1px solid black;
}

.search-bar, .tab {
    border-radius: 5px;
    padding-left: 20px;
}

.search-bar {
    width: 100%;
    height: 80px;
    background: #E7E7E7;
    margin-bottom: 15px;
    z-index: 2;
}

.tags-space
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    margin-bottom: 20px;
}

.tag
{
    height: 35px;
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #fff
}

.ing-tag {
    background: #3282F7;
}

.dev-tag {
    background: #68D9A4;
}

.ute-tag {
    background: #ED6454;
}

.tag-span
{
    margin-right: 5px;
}

.menu {

    position: relative;
    width: 100%;

    &__ingredients {
        background:#3282F7;
    }
    &__devices {
        background:#68D9A4;
    }
    &__utensils {
        background:#ED6454;
    }
}

.tablist {
    display: flex;

    @media all and (max-width: 767px) {
        flex-flow: column wrap;
    
    }
}

.menu-check, .menu-check2 {
    position: absolute;
    left: -500px;
}


.tab {
    width: 170px;
    height: 69px;
    color: #fff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    position: relative;

    @media all and (max-width: 767px) {
        margin-bottom: 20px;
        width: 100%;
    
    }
    
}

.input-button {
    background: transparent;
    color: #fff;
    cursor: text;
}

.mini-searchbar {
    position: absolute;
    background: transparent;
    color: #fff;
    display: none;
    width: 200px;
    font-size: 14px;
}

.dropdown-button {
    position: absolute;
    right: 20px;
    border: 1px solid black;
    background: transparent;
    text-align: center;
    color: #fff;
    width: 30px;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
    }
    @media all and (max-width: 767px) {
        display: none;
        }
}


.arrow-icon {
    font-size: 26px;
}



.menu-nav {
    position: absolute;
    top: 63px;
    color: #fff;
    width: 667px;
    transform: translateY(-300%);
    border-radius: 5px;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    @media all and (max-width: 767px) {
        width: 100%;
      
    }
  }

.options-list {
    width: 667px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-left: 20px;
    @media all and (max-width: 767px) {
        width: 100%;
        }
}

.ingredients-nav {

    background: #3282F7;
    height: 1600px;
}

.devices-nav {
    background:#68D9A4;
    height: 200px
}

.utensils-nav {
    background:#ED6454;
    height: 350px
}


.menu-tag {
    margin-bottom: 10px;
    margin-right: 100px;
    cursor: pointer;
}




// SECTION RECETTES

.recipes-section
{
    display: flex;
    flex-flow: row wrap;
    margin-top: 82px;
    @media all and (min-width: 768px) and (max-width: 1023px) {
        justify-content: center;
        }
}

.recipe-article 
{
    height: 364px;
    width: 380px;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    @media all and (max-width: 767px) {
        width: 100%;
        margin-right: 0;
        }
}

.picture-div {
    height: 178px;
    width: 380px;
    background: #C7BEBE;
    @media all and (max-width: 767px) {
        width: 100%;
        }
}

.recipe-div {
    height: 186px;
    background : #E7E7E7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    
}

.recipe-name {
    max-width: 220px;
    margin-bottom: 20px;
    @media all and (max-width: 767px) {
        max-width: 200px;
        }
}

.time-span, .time-icon {
    position: absolute;
    top: 20px;
}

.time-span {
    right: 20px;
}

.time-icon {
    right: 80px;
}

.ingredients-list, .recipe-description {
    position: absolute;
    width: 170px;
    top: 60px;
    border: 1px solid black;
    font-size: 12px;
    @media all and (max-width: 767px) {
        width: 150px;
        }

}


.recipe-description {
    left: 190px;
}

// RECYCLE BIN

// .ingredients-check:checked ~ .ingredients-nav,  .devices-check:checked ~ .devices-nav, .utensils-check:checked ~ .utensils-nav
// {
//     transform: translateX(0);
//     opacity: 1;
//     z-index: 1;
// }


// .ingredients-check:checked  .ingredients-arrow, .devices-check:checked ~ .devices-arrow, .utensils-check:checked ~ .utensils-arrow {
//     transform : translate(-50%, -50%) rotate(90deg);

// }

// .dropdown-button::after {
//     transform : translate(-50%, -50%) rotate(90deg);
// }
